# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
*.env

# Ignore Hugging Face credentials
HF_cred.py

# Ignore system files
.DS_Store
Thumbs.db